body {
    font-family: "PT Sans","Roboto", sans-serif;
    padding: 0;
    margin: 0;
}
#main {
    display: flex;
    flex: 1;
    flex-direction: column;
}


/* Menu */

#bar {
    display: flex;
    align-items: center;
    height: 140px;
    font-weight: bold;
    font-size: 18px;
    color: #275867;
}

#logo {
    margin-left: 50px;
    margin-top: 10px;
    max-width: 100px;
    /* height: 82px; */
}

#menu-itens{
    margin-left: 40%;
    width: 100%;
}
@media screen and (max-width: 1024px) {
    #menu-itens {
        margin-left: 20%;
    }
}
.menu-item {
    margin-left: 10%;
    text-decoration:none;
}
.menu-item:hover{
    color:#e24717;
}



/* Banner */
#banner {
    height: 30%;
    position: relative;
    opacity: 20%;
}
#banner_back{
    height: 29%;
    position: relative;
    background-color: black;
}
#titulo_banner {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 5vw;
    color: #FFFFFF;
    font-weight: bold;
}



/* Conteudo 1 */

#content1 {
    display: flex;
    position: relative;
    flex-direction: row;
    padding: 5% 10% 5% 10%;
    align-items: center;
    height: 35%;
}

@media screen and (max-width: 768px) {
    #img_content1 {
        display: none;
    }
  }

#content1_1 {
    margin-left: 10%;
    padding: 10px;
    font-size: 3vw;
    color: rgb(39, 88, 103);
    height: 80%;
    text-align: end;
}

#title_content1 {
    margin: 0;
}

#text_content1 {
    margin: 0;
}



/* Conteudo 2 */

#content2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(39, 88, 103);
    color: rgb(255, 255, 255);
    padding: 40px;
    font-size: 3vw;
}

/* Rodapé */

#footer{
    font-size: 3vw;
    font-weight: bolder;
    color: rgb(39, 88, 103);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    height: 550px;
}
#meme{
    height: 30%;
    width: 30%;
}





#conteudo{
    font-size: 3vw;
    font-weight: bolder;
    color: rgb(39, 88, 103);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}