{% load static %}
<head>
    <title>Impulso Gov | Impulso Previne</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <meta charset="utf-8">
</head>

<body>
<div id="main">
    {% include 'core_menu.html' %}
    <div>
        <p style="font-size: 3vw;font-weight: bolder;color: rgb(39, 88, 103);display: flex;flex-direction: column;align-items: center;justify-content: center;text-align: center;">
            Conecte-se ao banco de dados
        </p>
    </div>
    <form class='form-horizontal' action="{{ action_link }}" method="post">
        <div id="content2">
            <div>
                {% for attr in form %}
                        {{ attr.label }}
                        {{ attr }}
                    <br>
                {% endfor %}
            </div> 
        </div>
    </form>

    {% include 'core_footer.html' %}
</div>
</body>
