{% load static %}
<head>
    <title>Impulso Gov | Impulso Previne</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <meta charset="utf-8">
</head>

<body>
    <div id="main">
        {% include 'core_menu.html' %}
        <div>
            <p style="font-size: 3vw;font-weight: bolder;color: rgb(39, 88, 103);display: flex;flex-direction: column;align-items: center;justify-content: center;text-align: center;">
                A Impulso Gov
            </p>
        </div>
        <div>
            <p style="display: table-cell;flex-direction: column;align-items: center;justify-content: center;text-align: left; padding: 0 150 150 150; color: rgb(39, 88, 103);">
                A Impulso Gov é uma organização brasileira de saúde pública, sem fins lucrativos, e que trabalha ao lado de gestores municipais e estaduais para impulsionar o uso de dados e tecnologia no setor público, assegurando o direito à uma vida saudável a todas as brasileiras e brasileiros, sem exceção.<br>
                <br>
                <b>Quer saber mais sobre a Impulso Gov? Acesse o nosso site: impulsogov.org.</b>
                <br>
            </p>
        </div>
    </div>
  </body>

