{% load static %}
<head>
    <title>Indicadores | Impulso Previne</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <meta charset="utf-8">
</head>

<body>
    <div id="main">
        {% include 'core_menu.html' %}
        <div>
            <p style="font-size: 3vw;font-weight: bolder;color: rgb(39, 88, 103);display: flex;flex-direction: column;align-items: center;justify-content: center;text-align: center;">
                Indicadores
            </p>
        </div>
        <div>
            <p align="center"><iframe width="70%" height="4100" src="https://datastudio.google.com/embed/reporting/3fa46357-727b-440c-b9f2-b0696ca1c193/page/sUQZC" frameborder="0" style="border:0" allowfullscreen=""></iframe></p>
        </div>
    </div>
  </body>

