{% load static %}
<head>
    <title>Impulso</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <meta charset="utf-8">
</head>

<body>
    <div id="main">
        {% include 'core_menu.html' %}
        
        <div id="banner_back"> 
            <p id="titulo_banner">Impulso Previne</p>
            <div id="banner">
                <img src="https://i.imgur.com/t03Vxc7.jpg" width="100%">
            </div>
        </div>
        <div id="content1">
            <div id="img_content1"><img src="https://i.imgur.com/kszzlo0.png" width="364px" height="411px"  style="object-fit: cover;"></div>
            <div id="content1_1">
                <p id="title_content1"><b>Titulo</b></p>
                <p id="text_content1">Textotexto Texto Texto Textotexto Texto Texto Textotexto Texto Texto Texto textoTexto Texto Textotexto Texto Texto Textotexto Texto Texto</p>
            </div>
        </div>
        <div id="content2">
            <p>makdnckjdsnckdsjbcskdncnsjdkcndskjcnsdkjcnsdcnkjdsncjsn dckjsdckjndskjcnsdkjnckjsncjkdsncjkd</p>
        </div>

        {% include 'core_footer.html' %}
    </div>
  </body>

