{% load static %}
<head>
    <title>Previne Brasil | Impulso Previne</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <meta charset="utf-8">
</head>

<body>
    <div id="main">
        {% include 'core_menu.html' %}
        <div>
            <p style="font-size: 3vw;font-weight: bolder;color: rgb(39, 88, 103);display: flex;flex-direction: column;align-items: center;justify-content: center;text-align: center;">
                O Previne Brasil
            </p>
        </div>
        <div>
            <p style="display: table-cell;flex-direction: column;align-items: center;justify-content: center;text-align: left; padding: 0 150 150 150; color: rgb(39, 88, 103);">
                O Previne Brasil é a nova política de financiamento federal da Atenção Primária à Saúde. Instituído em 2019 pela Portaria nº 2.979, de 12 de novembro de 2019, o Previne visa fortalecer o Sistema Único de Saúde (SUS) a partir de uma estrutura de financiamento que leva em consideração a dependência da população do SUS, o desempenho e os resultados dos municípios no cuidado da Atenção Primária.<br>
                <br>
                O novo modelo de financiamento cria condições que devem ser atendidas pelos municípios para que o governo federal efetue o repasse. São três critérios que orientam essa nova política: a capitação ponderada, o pagamento por desempenho e o incentivo para ações estratégicas.<br>
                <br>
                O componente de capitação ponderada diz respeito ao número de pessoas cadastradas sob responsabilidade das equipes de saúde da família ou equipes de atenção primária.<br>
                <br>
                Já o componente de pagamento por desempenho levará em consideração o cumprimento de metas de performance em indicadores específicos para a definição do valor a ser transferido aos municípios. Em 2021, os indicadores de desempenho considerados são:<br>
                <br>
                Proporção de gestantes com realização de exames de sífilis e HIV<br>
                Proporção de gestantes com pelo menos 6 consultas de pré-natal<br>
                Proporção de gestantes com atendimento odontológico<br>
                Cobertura de exame citopatológico<br>
                Cobertura vacinal de poliomielite e pentavalente<br>
                Percentual de pessoas hipertensas com pressão arterial aferida<br>
                Percentual de diabéticos com solicitação de hemoglobina glicada<br>
                <br>
                O componente de incentivos para ações estratégicas levará em consideração elementos e necessidades específicas de cada município.<br>
            </p>
        </div>
    </div>
  </body>

